# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore logs and temp files
*.log
*.tmp
*.swp

# Ignore Docker-related files
.dockerignore
.git
.gitignore
docker-compose.override.yml
